.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0px 10% 0px 10%;
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 400px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
